<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/AccountPage.css">
</head>
<body>

<div class="container">
    <div class="header"></div>
         <div class="sidebar">
    <header><a href="/"><img src="/static/images/img.png" class="logo"></a></header>

        <ul>
         <li><a href="AdminEleves"><i>Eleves</i></a></li>
            <li><a href="AdminElevesDispo"><i>Eleves Dispo</i></a></li>
            <li><a href="AdminProfesseurs"><i>Professeur</i></a></li>
            <li><a href="AdminProfDispo"><i>Professeur Dispo</i></a></li>
            <li><a href="AdminCours"><i>Cours</i></a></li>
            <li><a href="AdminSession"><i>Session</i></a></li>
            <li><a href="/logout"><i>Déconnexion</i></a></li>
        </ul>


       </div>

       <div class="main">
           <h1><i>Création de Session</i></h1>
           <h3>Veuillez remplir les information suivante pour créer une Session </h3>
           {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="notification-banner">
            {% for message in messages %}
              <p>{{ message }}</p>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}
           <form method="POST" action="/CreerSession">
           <div class="info">
               <div class="left">
               <h2>Nom:</h2><br>
               <label for="NomSession"></label><input id="NomSession" name="NomSession" type="text" class="input" placeholder="Nom"><br>
               <br><h2>Date de début:</h2><br>
               <label for="Datedébut"></label><input id="Datedébut" name="Datedébut" type="date" class="input" placeholder="Date de début"><br>
               <br><h2>Date de fin:</h2><br>
               <label for="Datefin"></label><input id="Datefin" name="Datefin" type="date" class="input" placeholder="Date de fin"><br>
               <br><h2>Nombre de semaine:</h2><br>
               <label for="NombreSemaine"></label><input id="NombreSemaine" name="NombreSemaine" type="number" class="input" placeholder="Nombre de semaine"><br><br><br>
                   <button class="button-send" type="submit"> Envoyer </button>
               </div>
               <br><br>
               </div>
               </form>
               </div>
          </div>



</body>
</html>