<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/AccountPage.css">
</head>
<body>

<div class="container">
    <div class="header"></div>
         <div class="sidebar">
    <header><a href="/"><img src="/static/images/img.png" class="logo"></a></header>

        <ul>
          <li><a href="AdminEleves"><i>Eleves</i></a></li>
            <li><a href="AdminElevesDispo"><i>Eleves Dispo</i></a></li>
            <li><a href="AdminProfesseurs"><i>Professeur</i></a></li>
            <li><a href="AdminProfDispo"><i>Professeur Dispo</i></a></li>
            <li><a href="AdminCours"><i>Cours</i></a></li>
            <li><a href="AdminSession"><i>Session</i></a></li>
            <li><a href="/logout"><i>Déconnexion</i></a></li>
        </ul>


       </div>

       <div class="main">
           <h1><i>Bienvenue Admin</i></h1>




       </div>
       </div>


</body>
</html>