<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Etudiant Index</title>
    <link rel="stylesheet" href="/static/css/AccountPage.css">
</head>
<body>

<div class="container">
    <div class="header"></div>
    <div class="sidebar">
        <header><a href="/"><img src="/static/images/img.png" class="logo"></a></header>

        <ul>
            <li><a href="EtudiantCours"><i>Cours</i></a></li>
            <li><a href="EtudiantDispo"><i>Dispos</i></a></li>
            <li><a href="/logout"><i>Déconnexion</i></a></li>
        </ul>

    </div>

    <div class="main">
           <h1><i>Bienvenue Utilisateur</i></h1>
    </div>
</div>

</body>
</html>