<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historique de l'École de musique Arquemuse</title>
     <link rel="stylesheet" href="/static/css/CreateAccount.css">

</head>
<body>
  <div class="navbar">
            <a href=""><img src="/static/images/img.png" class="logo" alt=""></a>
            <ul>
               <li><a href="/">Accueil</a></li>
                <li><a href="/Connexion">Connexion</a></li>
                <li><a href="/About">A propos</a></li>
            </ul>
        </div>
    <div class="Resume">

        <h1>Historique de l'École de musique Arquemuse</h1>
        <p>L’École de musique Arquemuse est un organisme à but non lucratif fondé en 1984.</p>
        <p>D’abord située sur la rue Saint-Jean, au 2e étage du Pub St-Alexandre, l’École déménagea ensuite ses locaux au Palais Montcalm en 1987. Cette même année, elle fut accréditée par la Ville de Québec et reconnue comme un partenaire culturel d’importance. En 1992, le Centre Culture et Environnement Frédéric Back, anciennement appelé Centre culturel Saint-Patrick, situé sur l’avenue de Salaberry, devint le nouveau toit de l’École pendant 28 ans. En 2020, l'École de musique Arquemuse a emménagé dans la sacristie de l'Église au clocher penché, autrefois l'Église Notre-Dame-de-Jacques-Cartier.</p>
        <p>Au fil des ans, l’Arquemuse a évolué en un établissement bien ancré dans la ville de Québec. Maintenant au cœur de Saint-Roch, l’École accueille près de 400 élèves par session et leur permet de pratiquer la musique dans des conditions propices à leur développement.</p>

    </div>




</body>
</html>
