<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div class="banner">
    <img src="/static/images/IMG_3341.JPG" alt="Image de fond" class="background-image">
    <div class="overlay"></div>
    <div class="banner-content">
        <div class="navbar">
            <a href=""><img src="/static/images/img.png" class="logo" alt=""></a>
            <ul>
               <li><a href="/">Accueil</a></li>
                <li><a href="/Connexion">Connexion</a></li>
                <li><a href="/About">A propos</a></li>
            </ul>
        </div>
        <div class="Home-Page-content">
            <h1>Nous acceptons les<br>inscriptions en<br>tout temps!</h1>
            <button class="btn"><a href="/register">INSCRIPTION EN LIGNE</a></button>
        </div>
        <div class="bottom-right-content">
            <h2>Session d'hiver-été 2024 : 15 janvier 2024</h2>
            <p>Inscriptions en tout temps. Contactez-nous pour des informations sur les plages horaires disponibles !</p>
        </div>

    </div>
    </div>

       <div class="event-container">
           <h3 class="year">Prochainement</h3>

           <div class="event">
               <div class="event-left">
                   <div class="event-date">
                       <div class="date">15</div>
                       <div class="month">Juillet</div>
                   </div>
               </div>

               <div class="event-right">
                   <h3 class="event-title"> Piano intime</h3>
                   <div class="event-description">

                   </div>

                   <div class="event-timing">
                        10:00 am
                   </div>

               </div>

           </div>

           <div class="event">
               <div class="event-left">
                   <div class="event-date">
                       <div class="date">2</div>
                       <div class="month">Juin</div>
                   </div>
               </div>

               <div class="event-right">
                   <h3 class="event-title">Le folklore dans la musique classique</h3>

                   <div class="event-description">

                   </div>

                   <div class="event-timing">
                        15:00
                   </div>
               </div>
           </div>
       </div>
<div class="video-presentation">
               <h1>Vidéo de présentation</h1>
               <iframe width="960" height="615" src="https://www.youtube.com/embed/xNvEr_a60DU?si=63tjtH6eaBdRmS08" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
           </div>
<div class="bottom-content">
    <div class="address-container">
        <h2>Entrée de l'École</h2>
        <p>151-A, rue St-François Est<br>
        Québec, QC, G1K 2Y6</p>
        <p><a href="mailto:info@arquemuse.com">info@arquemuse.com</a><br>
        +1-418-525-6873</p>

        <h2>Adresse postale</h2>
        <p>160, rue St-Joseph Est<br>
        Québec, QC, G1K 3A7</p>


    <div class="office-hours">
        <h2>Horaire du secrétariat</h2>
        <p>Lundi au jeudi : 13h30 à 19h30<br>
        Vendredi : 13h30 à 16h30<br>
        Samedi : 9h00 à 13h00<br>
        Dimanche : fermé</p>
    </div>

    <p>L'Arquemuse est soutenue financièrement par la Ville de Québec</p>
     </div>


</div>


</body>
</html>
